@model IEnumerable<GroupManagerAssociations>

@{
    ViewData["Title"] = "GroupBy";
}
<h2>
    Associations:
</h2>

@foreach (var group in Model)
{
<div>
    @group.Aname located in @group.Cname
    
</div>

}*