@model tryProject.Models.CommunityWorks

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CommunityWorks</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Decscription" class="control-label"></label>
                <input asp-for="Decscription" class="form-control" />
                <span asp-validation-for="Decscription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Association" class="control-label"></label>
                <select asp-for="Association" class="form-control" asp-items=@ViewBag.AssociationId></select>
                <span asp-validation-for="Association" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Zone" class="control-label"></label>
                <select asp-for="Zone" class="form-control" asp-items="ViewBag.Zones"></select>
                <span asp-validation-for="Zone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CatersTo" class="control-label"></label>
                <select asp-for="CatersTo" class="form-control" asp-items="ViewBag.CatersTo"></select>
                <span asp-validation-for="CatersTo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="WorkOrGive" class="control-label"></label>
                <select asp-for="WorkOrGive" class="form-control" asp-items="ViewBag.WorkOrGiveId"></select>
                <span asp-validation-for="WorkOrGive" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
